doctype html
html
  head
    <title>운영팀 웹 어드민 시스텝</title> <!--1-->      
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 운영팀 웹 어드민 시스템    <!--2-->
    p Welcome to 운영팀 웹 어드민 시스템
